
<div class="header">
  <div class="nav">
    <div class="logo">
      <img src="../assets/img/logo.png" alt="">
    </div>
    <div class="navlist">
      <span class="navitem" [routerLink]="['/']" routerLinkActive="router-link-active">首页</span>
      <span class="navitem" [routerLink]="['/hotStock']" routerLinkActive="router-link-active">新股上市</span>
      <span class="navitem" [routerLink]="['/search']" routerLinkActive="router-link-active">筛选</span>
    </div>
    <div class="input">
      <input type="text">
    </div>
  </div>
</div>
<router-outlet></router-outlet>